figs
aim2/_SUBMISSIONS
#aim2/current_exps_notebooks

saved_models
datasets
.ipynb_checkpoints
__pycache__
errors.txt

aim2/current_exps_notebooks/*_[0-9]*.ipynb
aim2/current_exps_notebooks/*/*_[0-9]*.ipynb
*.zip
